
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box  ;
}
h1{
  margin: 0;
}
h2{
  margin: 0;
}
h3{
  margin: 0;
}
h4{
  margin: 0;
}
li{
  cursor: pointer;
}


.navbar{
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: black;
  height: 70px;
  
}
.menu{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 30px;
  list-style: none;
 margin-right: 40px;
 color: aliceblue;

}

.logo{
  width: 60px;
  height: 60px;
  
}

.logo img{
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.headersection-wrapper{
  background-image: url(/public/BGHeadersection.png);
   background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  position: relative;
}


.headersection-wrapper::before{
  background-image: url(/public/BGHeadersection.png);
  inset: 0; 
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4); /* overlay */
  height: 100vh;
  position: absolute;
  content: "";
}
.headersection-content{
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
}

.img-box{
  width: 90%;
  max-width: 700px;
  aspect-ratio: 5 / 2;
  margin: 50px auto;
  margin-bottom: 220px;
  animation:  Rotate 1s ease-in-out;
  
}

.img-box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: rotate(-60deg);
}
.display-flex-img{
  margin-top: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Content-header{
  width: 500px;
  height: 300px;
  margin-left: 60px;
  animation: slideIn 1s ease-in-out;
}

.Btn-header-style{
  width: 300px;
  height: 50px;
  border-radius: 20px;
  border: none;
  font-weight: 400;
  font-size: medium;
}

.Btn-header-style:hover{
  width: 300px;
  height: 50px;
  border-radius: 20px;
  border: none;
  font-weight: 400;
  font-size: medium;
  background-color: rgb(0, 0, 0);
  color: aliceblue;
}

.MostpopularServices{
   background-color:rgb(202, 210, 217);
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
  padding: 100px 0;
 
}


.HeaderText-Mostpopular{
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  
  flex-direction: column;
  
  row-gap: 60px;
 
}

.Items-Mostpopular{
  column-gap: 120px;
    background-color:rgb(202, 210, 217);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}



.items-img-pic{
  
  width: 300px;
  height: 300px;

}

.items-img-pic-fix{
  
  width: 300px;
  height: 300px;

}
.items-img-pic-fix img{
  width: 300px;
  height: 300px;
  object-fit: contain;
  rotate: 180deg;

  
}

.items-img-pic img{
  width: 300px;
  height: 300px;
  object-fit: contain;

}

.Contenthome-wrapper{
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: auto;

  
}

.Contenthome{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-1{
  margin-left: 100px;
  color: whitesmoke;
  width: 500px;
  height: 200px;
}

.content-2{
  
  width: 1000px;
  height: 100vh;
 
}
.content-2 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.underline{
   border: 3px;
   border-style: inset;
}

.btn-content-home{
  width: 300px;
  height: 50px;
  border-radius: 20px;
  border: none;
  font-weight: 40;
  cursor: pointer;
}

.btn-content-home:hover{
  background-color: red;
  color: whitesmoke;
}

.text-header-content{
  padding-top: 120px;
  background-color: black;
  width: 100%;
  justify-content:center ;
  text-align: center;
  color: white;
  height: 60vh;
  
}

.showcase-items-content{
  display: flex;
  justify-content: space-around;
  align-items: center
}

.showcase-content-img{
  width: 500px;
  height: 300px;
 
}

.showcase-content-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
.footer-wrapper{
  width: 100%;
   min-height: 50vh;
  padding-top: 100px;
  background-image: url(../public/bgfooter.png);
}
.footer-content{
  color: aliceblue;
}

.footer-flex-content{
  margin-top: 140px;
  display: flex;
  justify-content: space-around;
  align-items: center
}

.foot-insdie{
  width: 600px;
  height: 500px;
  background-color: aliceblue;
  column-gap: 30px;
  text-align: center;
  display: flex;               
  flex-direction: column;    
  justify-content: center;   
  align-items: center;       

}

.incontent-footer{
  width: 100%;
  height: 60vh;
  background-color: rgb(220, 226, 230);
  column-gap: 30px;
  text-align: center;
  display: flex;               
  flex-direction: column;    
  justify-content: center;   
  
}
          
.main-block-contentfooter{
  display: flex;
  justify-content: space-around;
  
 

}
.block-footer-list{
  
  display: flex;
  column-gap: 100px;
  justify-content: space-around;
}

.Inconcept-img{
  width: 70px;
  height: 70px;
  border-radius: 60px;

}

.Inconcept-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
   border-radius: 100px;
}
.Inconcept-footer{
  display: flex;
  flex-direction: row;
  column-gap: 20PX;
  justify-content: center;
  align-items: center;
  margin-right: 120px;
}
.Linkhorver{
  text-decoration: none;
  color: aliceblue;

}
.Linkhorver:hover{
  text-decoration: none;
  color: rgb(0, 136, 255);
  font-size: larger;
  border-bottom: 2px solid rgb(255, 102, 0);

}
.bg-header-Residential{
  background-color: black;
  color: white;
}
.Flex-Residential-compount{
  display: flex;
  justify-content: space-between;
  column-gap: 150px;
}

.Pictureof-Residential{
  width: 1200px;
  height: 800px;

}

.Pictureof-Residential img{
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.content-Residential{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 20px;

}

.Content-Bg-Residential{
  background-color: white;
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.In-ContentResidential{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 200px;
  column-gap: 100px;
  margin-left: 50vh;

}

.InListStyleCompounent{
  list-style: none;
  width: 160px;
  font-size: large;
}
.Content-Residentials-Headging{
  text-align: center;
  margin-right: 1200px;
}



@keyframes slideIn {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}



@keyframes Rotate {
  from {
    transform: rotateY(0deg);
    opacity: 0;
  }

  to {
    transform: rotateY(360deg);
    opacity: 1;
  }
}

.list-footer{
  list-style: none;
  
}